/*------------------------------------------------------
0. Variables
------------------------------------------------------*/
/*------------------------------------------------------
1. Reset CSS
------------------------------------------------------*/
body,
html {
  height: 100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------------------------------------------------------
2. Global
------------------------------------------------------*/
body {
  font: normal normal 8.333333333333334px 'Helvetica Neue', Helvetica, Arialf, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  background: #fff;
  color: #444;
  -webkit-text-size-adjust: 100%;
}
#background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -100;
}
.header-wrapper,
.content-wrapper,
.sidebar-bottom,
.credit {
  background: #fff;
}
.outer-wrapper {
  min-width: 240px;
}
.blox {
  width: 240px;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 480px) {
  .outer-wrapper {
    min-width: 480px;
  }
  .blox {
    width: 480px;
  }
}
@media screen and (min-width: 720px) {
  .outer-wrapper {
    min-width: 720px;
  }
  .blox {
    width: 720px;
  }
}
@media screen and (min-width: 960px) {
  .outer-wrapper {
    min-width: 960px;
  }
  .blox {
    width: 960px;
  }
}
/* -- 2.1. General -- */
a {
  color: #000;
}
a:visited {
  color: #333;
}
a:hover {
  color: #db2727;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.clear {
  clear: both;
}
.button {
  text-transform: uppercase;
  font: normal normal 8.333333333333334px 'Helvetica Neue', Helvetica, Arialf, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #444;
  color: #444;
}
ul:after,
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
p {
  margin-top: 10px;
  margin-bottom: 20px;
}
pre {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ddd;
  background: #e8e8e8;
  overflow: auto;
}
pre br {
  display: none;
}
code {
  font: 1em/1.2em 'courier new', courier, monospace;
}
h1,
h2,
h3,
h4,
h5 {
  font: normal normal 18px 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', Georgia, serif;
}
/* -- 2.2. For Index Pages -- */
.index #background,
.archive #background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(http://lh5.googleusercontent.com/-LTbqjbVhfIs/Uq8G9sa_aeI/AAAAAAAADt0/16iTwDt7Lwo/s320/P1010757%2540320.jpg);
  z-index: -100;
}
@media screen and (min-width: 321px) and (max-width: 479px) {
  .index #background,
  .archive #background {
    background-image: url(http://lh5.googleusercontent.com/--u1A1pfrSc8/Uq8G_Jj9QVI/AAAAAAAADuM/oA2cuJ1irX0/s480/P1010757%2540480.jpg);
  }
}
@media screen and (min-width: 480px) and (max-width: 719px) {
  .index #background,
  .archive #background {
    background-image: url(http://lh6.googleusercontent.com/-WbdEnR53vR8/Uq8G-hFQxXI/AAAAAAAADuA/NYnc0x0CH1U/s720/P1010757%2540720.jpg);
  }
}
@media screen and (min-width: 720px) and (max-width: 959px) {
  .index #background,
  .archive #background {
    background-image: url(http://lh6.googleusercontent.com/-mScpKwL-xAc/Uq8G_PciJ0I/AAAAAAAADuI/4_H_m-IXbXw/s960/P1010757%2540960.jpg);
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .index #background,
  .archive #background {
    background-image: url(http://lh4.googleusercontent.com/-CX3piL2kAqw/Uq8G9vryceI/AAAAAAAADuE/8V9PBkyl-WM/s1280/P1010757%25401280.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .index #background,
  .archive #background {
    background-image: url(http://lh6.googleusercontent.com/-zOJPwzDUlEc/Uq8G9slE0-I/AAAAAAAADuo/Fki1hiI7iNs/s1920/P1010757%25401920.jpg);
  }
}
/*------------------------------------------------------
3. Header
------------------------------------------------------*/
.header-wrapper {
  clear: both;
  padding: 26px 0;
}
@media screen and (min-width: 480px) {
  .header-wrapper {
    padding: 40px 0;
  }
}
/* -- Logo & Navigation -- */
#logos {
  float: left;
}
#logos .header {
  white-space: nowrap;
  padding: 5px 40px 5px 0;
  margin-right: 40px;
  border-right: 1px solid #ddd;
  float: left;
  max-width: 240px;
}
@media screen and (min-width: 480px) {
  #logos .header {
    max-width: 135px;
  }
}
@media screen and (min-width: 720px) {
  #logos .header {
    max-width: none;
  }
}
#logos h1 {
  font: normal normal 8.333333333333334px 'Helvetica Neue', Helvetica, Arialf, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1em;
  text-transform: uppercase;
}
#logos h1 a {
  text-decoration: none;
}
.descriptionwrapper {
  display: none;
}
#logos .navigation {
  float: left;
  max-width: 240px;
}
@media screen and (min-width: 480px) {
  #logos .navigation {
    max-width: 264px;
  }
}
@media screen and (min-width: 720px) {
  #logos .navigation {
    max-width: none;
  }
}
/* -- Navigation -- */
.navigation h2 {
  display: none;
}
.navigation ul {
  white-space: nowrap;
  line-height: 28px;
  height: 28px;
}
.navigation ul li {
  display: inline;
  margin-right: 1em;
}
.navigation ul li:last-child {
  margin-right: 0;
}
@media screen and (min-width: 480px) {
  .navigation ul li {
    margin-right: 2em;
  }
  .navigation ul li:last-child {
    margin-right: 0;
  }
}
.navigation ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  color: #aaa;
}
/* -- Social Buttons -- */
#socialbuttons {
  display: none;
}
#socialbuttons .widget {
  text-align: right;
}
.social-networks {
  float: right;
}
.social-networks li {
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 15px;
  border: 1px solid #000;
  overflow: hidden;
}
.social-networks li.icon-dribbble {
  background: url(http://3.bp.blogspot.com/-O-9JGrgt54U/Upf4C4Ok1HI/AAAAAAAAClI/oe86e2o_3VU/s1600/icon_dribbble.png) no-repeat center center;
}
.social-networks li.icon-facebook {
  background: url(http://3.bp.blogspot.com/-5P7PmUNPPcs/Upf4C9D83AI/AAAAAAAAClU/qiaMptN0NIY/s1600/icon_facebook.png) no-repeat center center;
}
.social-networks li.icon-twitter {
  background: url(http://2.bp.blogspot.com/-BFOiDb0j-bM/Upf4Dpx0AnI/AAAAAAAAClc/RUJjxOzgQsw/s1600/icon_twitter.png) no-repeat center center;
}
.social-networks li.icon-pinterest {
  background: url(http://1.bp.blogspot.com/-svrtG_-9JpY/Upf4Df59NjI/AAAAAAAAClk/wLr3ZM8PMPc/s1600/icon_pinterest.png) no-repeat center center;
}
.social-networks li.icon-flickr {
  background: url(http://3.bp.blogspot.com/-vtAQDA2cD4M/Upf4C_jPjOI/AAAAAAAAClM/LKt1ywYunYk/s1600/icon_flickr.png) no-repeat center center;
}
.social-networks li a {
  display: block;
  text-indent: -800px;
  width: 20px;
  height: 20px;
}
/*------------------------------------------------------
4. Main Wrapper
------------------------------------------------------*/
.main-wrapper {
  padding: 40px 0;
}
/* -- Post -- */
.post-outer .post-body {
  width: 240px;
}
@media screen and (min-width: 480px) {
  .post-outer .post-body {
    width: 480px;
  }
}
@media screen and (min-width: 720px) {
  .post-outer .post-body {
    float: right;
    width: 438px;
    margin: 0 1px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 960px) {
  .post-outer .post-body {
    width: 678px;
  }
}
.post-body img {
  max-width: 100%;
  height: auto;
}
.post-body iframe {
  max-width: 100%;
}
.post-outer blockquote {
  border-left: 3px solid #444;
  padding-left: 20px;
  margin: 10px 0 20px;
  font-size: 17px;
  line-height: 1.7em;
  font-weight: bold;
}
.post-outer .post-title {
  font-size: 32px;
  margin-bottom: 40px;
  line-height: 1.2em;
}
.post-outer .home-entry-title {
  font-size: 18px;
  line-height: 1.4em;
  padding: 0 15px;
  text-decoration: none;
}
.post-outer .home-entry-title a {
  text-decoration: none;
}
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  margin-bottom: 15px;
  font-size: 34px;
  line-height: 1.2em;
}
.post-body h2 {
  font-size: 28px;
}
.post-body h3 {
  font-size: 24px;
  line-height: 1.4em;
}
.post-body h4 {
  font-size: 18px;
  line-height: 1.6em;
}
.post-body h5 {
  font-size: 12px;
  line-height: 1.8em;
}
.post-body h6 {
  font-size: 10px;
  line-height: 1.8em;
}
.post-body pre {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.post-body ul,
.post-body ol {
  list-style-type: square;
  margin: 10px 20px 20px 20px;
}
.post-body ol {
  list-style-type: decimal;
}
/* -- Post (For Index Pages) -- */
.index .post-outer,
.archive .post-outer {
  float: left;
  width: 238px;
  margin: 1px;
  padding-bottom: 20px;
  text-align: center;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.index .post-outer:hover,
.archive .post-outer:hover {
  background: #f2f2f2;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.index .post-outer .post-body,
.archive .post-outer .post-body {
  float: none;
  width: auto;
  padding-left: 0;
  margin: 0;
}
.index .post-outer .date-header,
.archive .post-outer .date-header {
  font-size: 10px;
  text-transform: uppercase;
  color: #aaa;
}
.thumbs {
  height: 238px;
  overflow: hidden;
  position: relative;
}
.thumbs.blank {
  background-image: url(http://lh6.googleusercontent.com/-T-F4mgNy-L0/UqmOMR7z6SI/AAAAAAAADr0/hFPsITVRp-Y/s800/Checker-16x16.png);
}
.thumbs.blank span {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.thumbs img {
  -webkit-transition: opacity 0.2s linear 0;
  -moz-transition: opacity 0.2s linear 0;
  transition: opacity 0.2s linear 0;
}
.post-outer:hover .thumbs img {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.post-outer .thumbs img.yimg {
  margin-top: -15px;
}
/* -- Post header -- */
.post-outer .post-header {
  width: 240px;
}
@media screen and (min-width: 480px) {
  .post-outer .post-header {
    width: 480px;
  }
}
@media screen and (min-width: 720px) {
  .post-outer .post-header {
    float: left;
    width: 238px;
    margin: 0 1px;
  }
}
.post-header li {
  padding: 15px 0;
}
.post-header li span {
  display: block;
  font-weight: bold;
  font-size: 11px;
  line-height: 1.4em;
}
.post-header li span.fn,
.post-header li span.fn span {
  font-size: inherit;
  font-weight: normal;
}
/* -- Blog pager -- */
.feed-links,
.status-msg-wrap {
  display: none;
}
#blog-pager {
  margin-top: 40px;
  width: 100%;
  overflow: inhefit !important;
}
#blog-pager span a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #444;
  color: #444;
}
/* -- Blog pager For Item Pages -- */
@media screen and (min-width: 720px) {
  .item #blog-pager {
    width: 438px;
    float: right;
  }
}
@media screen and (min-width: 960px) {
  .item #blog-pager {
    width: 678px;
    float: right;
  }
}
/* -- Blog pager For Static Pages -- */
.static_page #blog-pager {
  display: none;
}
/* -- Comments -- */
.byncomments {
  margin-top: 40px;
  padding-top: 40px;
  background: url(http://4.bp.blogspot.com/-MSQ3_YBbIZc/UpfzHe_qtBI/AAAAAAAACk4/hLZ_9pnSP5M/s1600/border-triplet.png) repeat-x left top;
  width: 240px;
}
@media screen and (min-width: 480px) {
  .byncomments {
    width: 480px;
  }
}
@media screen and (min-width: 720px) {
  .byncomments {
    float: right;
    width: 438px;
  }
}
@media screen and (min-width: 960px) {
  .byncomments {
    width: 678px;
  }
}
.comments h4 {
  clear: both;
  font: normal normal 8.333333333333334px 'Helvetica Neue', Helvetica, Arialf, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.comment-header .user {
  font-size: 14px;
  color: #222;
  font-weight: normal;
  text-decoration: underline;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #ddd;
}
.comment-header span.blog-author,
.comment-header span.icon {
  display: none !important;
}
.comment-header .datetime {
  font-size: 12px;
}
.comment-thread li .comment-block {
  border-bottom: 1px dotted #ddd;
  padding-bottom: 10px;
}
.comments blockquote {
  margin-bottom: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  line-height: 1.6em;
}
#comment-holder .comment-block .comment-actions a {
  font-size: 12px;
  margin-right: 10px;
  background-position: -15px center;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
#comments-block.avatar-comment-indent {
  position: relative;
  margin: 0 auto;
}
/*------------------------------------------------------
5. Sidebar
------------------------------------------------------*/
.sidebar .widget {
  padding: 20px 0;
  text-align: center;
}
.sidebar .widget h2 {
  font: normal normal 8.333333333333334px 'Helvetica Neue', Helvetica, Arialf, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.sidebar blockquote {
  font: normal normal 18px 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', Georgia, serif;
  font-size: 30px;
  line-height: 1.4em;
}
.sidebar blockquote cite {
  clear: both;
  display: block;
  font-size: 14px;
}
/* -- Sidebar bottom -- */
.sidebar-bottom .blox {
  padding: 20px 0;
  background: url(http://1.bp.blogspot.com/-KVvUg3qkyWU/UpiWKTzf_-I/AAAAAAAACm8/gTnXjQbbCE4/s1600/border_double.png) repeat-x left top;
}
.sidebar-bottom .sidebar {
  width: 240px;
}
@media screen and (min-width: 480px) {
  .sidebar-bottom .sidebar#grid1 {
    width: 220px;
    float: left;
  }
  .sidebar-bottom .sidebar#grid2 {
    width: 220px;
    margin-left: 40px;
    float: left;
  }
  .sidebar-bottom .sidebar#grid3 {
    clear: both;
    width: 480px;
  }
}
@media screen and (min-width: 720px) {
  .sidebar-bottom .sidebar#grid1 {
    width: 200px;
  }
  .sidebar-bottom .sidebar#grid2 {
    width: 200px;
    margin-left: 40px;
    margin-right: 40px;
    float: left;
  }
  .sidebar-bottom .sidebar#grid3 {
    float: left;
    clear: none;
    width: 240px;
  }
}
@media screen and (min-width: 960px) {
  .sidebar-bottom .sidebar#grid1 {
    width: 280px;
  }
  .sidebar-bottom .sidebar#grid2 {
    width: 280px;
  }
  .sidebar-bottom .sidebar#grid3 {
    width: 320px;
  }
}
.sidebar-bottom .widget h2 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #444;
}
.blog-icon {
  display: none;
}
#ArchiveList {
  text-align: inherit !important;
}
.BlogArchive #ArchiveList ul li {
  margin: 0 !important;
}
.blog-list-container ul {
  margin-top: -2px;
}
.blog-list-container a {
  text-decoration: underline !important;
}
.blog-list-container .blog-content {
  float: inherit !important;
  width: inherit !important;
  margin: 0 !important;
  padding: 4px 0 5px;
  text-indent: inherit !important;
}
.blog-list-container .blog-title {
  line-height: 22px !important;
  margin: 0 !important;
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blog-list-container .item-content {
  font-size: inherit !important;
  line-height: 22pxem !important;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blog-list-container .item-time {
  font-size: inherit !important;
  font-style: inherit !important;
  line-height: 22px !important;
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* -- Slider -- */
.slider .flexslider {
  position: relative;
  margin: 0 auto;
  color: #fff;
  height: 132px;
}
@media screen and (min-width: 480px) {
  .slider .flexslider {
    margin: 0 auto;
    color: #fff;
    height: 252px;
  }
}
@media screen and (min-width: 720px) {
  .slider .flexslider {
    margin: 0 auto;
    color: #fff;
    height: 372px;
  }
}
.slider .divider {
  background: #fff;
}
.slider .divider .blox {
  height: 3px;
  margin: 0 auto;
  background: url(http://lh6.googleusercontent.com/-AhX04Wg2gXE/UqrKDE7X9_I/AAAAAAAADtA/sTBOJIMJXNI/s1600/border_double.png) repeat-x left bottom;
}
.slider blockquote {
  font: normal normal 18px 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', Georgia, serif;
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 40px;
  line-height: 60px;
  text-shadow: 0 0 2px black;
}
.slider blockquote cite {
  clear: both;
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
}
@media screen and (min-width: 480px) {
  .slider blockquote {
    bottom: 30px;
    font-size: 48px;
    line-height: 72px;
  }
  .slider blockquote cite {
    font-size: 24px;
    line-height: 36px;
  }
}
@media screen and (min-width: 720px) {
  .slider blockquote {
    bottom: 80px;
    font-size: 48px;
    line-height: 72px;
  }
  .slider blockquote cite {
    font-size: 24px;
    line-height: 36px;
  }
}
.slider .button {
  color: #fff;
  border-color: #fff;
}
.slider .widget img {
  display: block;
  margin: 0;
}
.slider .widget a {
  color: #fff;
}
/* -- Tagline -- */
.tagline {
  font: normal normal 18px 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', Georgia, serif;
  font-size: 18px;
  line-height: 1.7em;
  padding: 40px 0;
  background: url(http://1.bp.blogspot.com/-Fnl15KYvRqY/UpiDLAVz3KI/AAAAAAAACms/BVnXxgWDXEY/s1600/border_tripletbold.png) repeat-x left top;
}
.tagline.top {
  background: none;
}
.tagline.bottom {
  display: none;
}
/*------------------------------------------------------
6. Credit
------------------------------------------------------*/
.credit .blox {
  padding: 40px 0;
  background: url(http://3.bp.blogspot.com/-XpHb8GIxasU/UpgFczHOxII/AAAAAAAACl4/eXGIOXBOv_0/s1600/border_tiny.png) no-repeat center top;
  font-size: 14px;
  color: #aaa;
}
.credit .widget {
  padding: 20px 0;
  text-align: center;
}
/* -- Social Buttons -- */
.credit .widget.HTML {
  display: none;
}
/* -- Credit -- */
.credit .social-networks {
  text-align: center;
  float: none;
  margin-bottom: 20px;
}
.credit .social-networks li {
  float: none;
  margin: 0 10px;
  display: inline-block;
}
.credit .social-networks li a {
  display: inline-block;
}
/* -- Credit -- */
.credit .mini-nav {
  margin-bottom: 20px;
  text-align: center;
}
.credit .mini-nav li {
  display: inline-block;
  margin: 0 20px;
}
.credit .mini-nav li a {
  letter-spacing: 3px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
/* -- Social Buttons -- */
@media screen and (min-width: 720px) {
  .index #socialbuttons,
  .archive #socialbuttons {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.credit .widget.HTML {
  display: block;
}
